# Core functionality - changes here should be rare!
/src/app.py                   @aayushpx
/src/backend/database.py      @aayushpx
/src/backend/routers/auth.py  @aayushpx

# The frontend will need refactored soon to be more object oriented.
/src/static/   @aayushpx
